
.photosection{
    position: relative;
    top: 8rem;
}

.textbtnboth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textheadCom {
    color: #3B3B3B;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Gilroy', sans-serif !important;
}

.bothbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 3rem;
}

.undoButton {
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-left: 650px;
    padding: 6px 12px;
    background-color: transparent;
    color: #6D7A85;
    border: 1px solid #6C757D;
    border-radius: 6px;
    cursor: pointer;
    width: 90px;
    margin-top: -2px;
}

.addButton {
    display: flex;
    align-items: center;
    margin-right: 0px;
    padding: 6px 12px;
    background-color: #6D0954;
    color: #ffffff;
    border: 1px #6D0954;
    border-radius: 6px;
    cursor: pointer;
    width: 115px;
    margin-top: -2px;
}

.buttonIcon {
    margin-right: 0px;
    margin-left: 10px;
}

.ninephotos{
    padding-bottom: 2rem;
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.ninephotos img{
    cursor: pointer;
    width: 100%;
}

@media screen and (max-width:1024px) {
    .undoButton {
        margin-left: 0px;
    }
    .ninephotos{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (max-width:600px) {
    .ninephotos{
        grid-template-columns: repeat(1,1fr);
    }
}