.userAccount {
    position:fixed;
    z-index: 3;
    display: inline-flex;
    padding: 1% 2%;
    flex-direction: column;
    background: #FFF;
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.05);
    right: 0;
    overflow: hidden;
    top: 10%;
    transition:0.1s;
}

.accountInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    transition: 0.3s;
}

.avatar {
    width: 90px;
    height:90px;
    border-radius: 30px;
}

.userName {
    color: #232D42;
    font-family: Inter;
    font-size: 16px;
    line-height: 1rem;
    font-style: normal;
}

.userRole {
    color: var(--8-a-92-a-6-text-color-2, #8A92A6);
    line-height: 1rem;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
}

.userEmail {
    color: #C64295;
    line-height: 1rem;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.updateUser {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}

.updateUserInner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0%;
}

.updateUserHeader {
    display: flex;
    flex-direction: column;
    padding: 0%;
}

.updateUserBody {
    padding-top: 1rem;
}

.accountTxt {
    color: var(--base-color-black, #000);
    padding-top: 1rem;
    font-size:1.5rem;
    font-weight: 700;
    letter-spacing: 0.24px;
}

.changeTxt {
    align-self: stretch;
    color: var(--grey-500, #9E9E9E);
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form{
    padding-bottom: .5rem;
}

.updateUserBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formTxt {
    align-self: stretch;
    color: var(--grey-800, #424242);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.18px;
}

.input {
    display: flex;
    width: 100%;
    margin-top: .4rem;
    padding: 8px;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
}

.formbtn{
    padding-top: 1rem;
    padding-right: 1rem;
}

.changePasswordBtn {
    width: 180%;
    padding: 16px;
    border: none;
    color: #757575;
    border-radius: 12px;
    background: #E0E0E0;
    cursor: pointer;
    flex: 1 0 0;
    margin-bottom: 10%;
}

.logOutBtn {
    display: flex;
    width: 180%;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    color: #757575;
    border-radius: 12px;
    background: #E0E0E0;
    cursor: pointer;
}

@media (max-width: 912px) {
    .userAccount {
        top: 7%;
        padding: 3% 3%;
    }
}

@media (max-width: 912px) {
    .userAccount {
        top: 7%;
        padding: 5% 5%;
    }
}