.position {
  position: relative;
  top: 6rem;
}

.widthtable{
  width: 100%;
  overflow-x: auto;
}

.foroverflow{
  width: 82rem;
  margin: auto;
}
.widthtable::-webkit-scrollbar {
  display: none;
}

.profilesec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profilesec .searchfilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6rem;
}

.exports {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exportIcon {
  padding: .4rem 1rem;
  border-radius: 2px;
  width: 100%;
  margin-right: 1rem;
  background-color: white;
}

.tablecontainer {
  overflow-x: auto;
  margin: auto;
  width: 100% !important;
  color: #6C757D;
  background-color: white !important;
  overflow: hidden;
}

.genderfill {
  background-color: white !important;
  min-width: 140px !important;
  border-radius: 6px;
  color: black !important;
}

.editicon {
  align-items: center;
  margin: 0rem .5rem;
  font-size: 1.5rem;
  color: #8A92A6;
}

.btnviewbutton {
  background-color: #EAEAEA;
  color: "white";
}

.clr {
  color: #6C757D !important;
}

/* Style the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  color: #6C757D;
}

.dropbtn {
  background-color: white;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #6C757D;
}

.dropdowncontent {
  color: #6C757D;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 90%;
}

.dropicons {
  padding-left: .5rem;
}

.dropdowncontent a {
  color: #6C757D;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowncontent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

@media screen and (max-width:700px) {
  .profilesec {
    display: block;
  }
  .exports {
    margin-top: 1rem;
    padding: 0rem 1rem;
  }
}