.singleComp {
    position: relative;
    top: 8rem;
}

.textbtnboth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textheadCom {
    color: #3B3B3B;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Gilroy', sans-serif !important;
}

.bothbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 3rem;
}

.undoButton {
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding: 6px 12px;
    background-color: transparent;
    color: #6D7A85;
    border: 1px solid #6C757D;
    border-radius: 6px;
    cursor: pointer;
    width: 90px;
    margin-top: -2px;
}

.buttonIcon {
    margin-right: 0px;
    margin-left: 10px;
}

.singlePhotos {
    padding-top: 2rem;
    position: relative;
    text-align: center;
}

.singlePhotos img {
    width: 60%;
    margin: auto;
}

.singlePageIcons {
    position: absolute;
    left: 70%;
    top: 4rem;
}

.deletebtn {
    padding: .5rem;
    font-size: 1.5rem;
    color: white;
    background-color: #6D0954;
    border-radius: 6px;
    margin-right: 1rem;
    cursor: pointer;
}

.FiDownload {
    padding: .5rem;
    border-radius: 6px;
    font-size: 1.5rem;
    color: white;
    background-color: #6D0954;
    cursor: pointer;
}

@media screen and (max-width:912px) {
    .singlePhotos img {
        width: 100%;
    }    
}

@media screen and (max-width:600px) {  
    .singlePageIcons {
        left: 68%;
    }
}